<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Hello</title>
    {% endif %}
</head>
<body>
    {% with msgs = get_flashed_messages() %}
    {% if msgs %}
    <div>
        {% for msg in msgs %}
        <p>{{ msg }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div>
        Microblog:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
    <hr />
    {% block content %}
    {% endblock %}
</body>
</html>